{% extends "core/base.html" %} {% load static %} 
{% block title %} Temáticas {% endblock title %} 
{% block head %} {% endblock %} 
{% block contenido %}
<div class="main-content d-flex flex-column mx-3 my-4">
  <div class="tab-content shadow rounded px-4 py-5">
    <div
      class="tab-pane fade show active"
      id="list-home"
      role="tabpanel"
      aria-labelledby="list-home-list"
    >
      <div class="d-flex justify-content-between mb-3">
        <h2 class="fs-2 fw-semibold d-md-block d-none">
          Lista de Tipo Apoyo
        </h2>
        <h2 class="fs-5 fw-semibold d-md-none d-block">
          Lista de Tipo Apoyo
        </h2>
        <button
          id="BtnAgregarTipoApoyo"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modalEditarTipoApoyo"
          data-bs-whatever="Editar"
        >
          Agregar Tipo Apoyo
        </button>
      </div>

      <!--TABLA-->
      <div class="table-responsive">
        <hr />
        <table
          id="tblTipoApoyo"
          class="table table-hover display shadow rounded"
          style="width: 100%"
        >
          <thead class="table-dark">
            <tr>
              <th class="text-center">Tipo Apoyo</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody class="text-rigth">
            {% for ta in tipoapoyo %}

            <tr id="{{ta.id}}">
              <th>{{ta.ctipo_apoyo}}</th>
              <th class="">
                <div class="d-flex gap-2 justify-content-center">
                  <button
                    type="button"
                    class="btn btn-success editBtn"
                    data-bs-toggle="modal"
                    data-bs-target="#modalEditarTipoApoyo"
                    data-bs-whatever="Editar"
                  >
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger trashBtn"
                    data-bs-toggle="modal"
                    data-bs-target="#modalEliminarTipoApoyo"
                    data-bs-whatever="Eliminar"
                    >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </th>
            </tr>
            {% endfor %}
          </tbody>

          <tfoot>
            <th class="text-center">Tipo Apoyo</th>
            <th class="text-center"></th>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!--MODAL PARA EDITAR EVENTO-->
<div
  class="modal fade"
  id="modalEditarTipoApoyo"
  tabindex="-1"
  aria-labelledby="modalEditarTipoApoyoLabel"
  aria-hidden="true"
  >
  <div
    class="modal-dialog m-auto modal-dialog-centered mt-3"
    style="--bs-modal-width: 900px"
  >
    <div class="modal-content">
      <div class="modal-header">
        <span class="fs-2 fw-semibold d-md-block d-none"
          >Edición del Tipo de Apoyo</span
        >
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="row px-3">
        <form
          action=""
          id="formEditarTipoApoyo"
          class="shadow px-3 rounded"
          method="POST"
        >
          {% csrf_token %}
          <div class="modal-body">
            <div class="d-flex gap-3 flex-column justify-content-center">
              <input
                type="hidden"
                class="form-control"
                id="txtIdModalEditarTipoApoyo"
                name="txtIdModalEditarTipoApoyo"
                value=""
                readonly
              />
              <!--formulario de ingreso datos-->
              <div class="row g-3 px-3">
                <!-- Aviso de campos obligatorios  -->
                <div class="d-flex">
                  <span class="text-danger ms-2">* Campos obligatorios</span>
                </div>
                <span class="fw-bold fs-6"
                  >Datos generales del Tipo de Apoyo</span
                >
                <!------   ----------------------------- -->
                <!--NOMBRE TEMTICA-->
                <div class="col-md-9">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="txtTipoApoyo"
                      name="txtTipoApoyo"
                      required
                      maxlength="50"
                      oninput="convertToUppercase(this)"
                    />
                    <label for="txtTipoApoyo"
                      >Tipo de Apoyo<span class="text-danger ms-2">*</span></label
                    >
                  </div>
                </div>

                <!------   ----------------------------- -->
              </div>
            </div>
          </div>
          <!-- Botones Guardar y Cancelar -->
          <div class="modal-footer">
            <button
              class="btn btn-danger shadow text-light fs-6 btnForm"
              type="submit"
            >
              <i class="fas fa-save"></i>
              &nbsp;Guardar datos
            </button>
            <button
              class="btn btn-secondary text-white shadow fs-6"
              type="button"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal eliminar INSTITUCION -->
<div class="modal fade" id="modalEliminarTipoApoyo" tabindex="-1" aria-labelledby="EliminarTipoApoyoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EliminarTipoApoyoLabel">Eliminar Tipo Apoyo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="formEliminarTipoApoyo" action="">
        <div class="modal-body">
          <input type="hidden" class="form-control" id="txtIdModalEliminarTipoApoyo" name="txtIdModalEliminarTipoApoyo" value="" readonly>
          <div class="mensaje-aviso d-flex gap-2">
            <h1 class="modal-title fs-6 text-center mb-2" id="staticBackdropLabel">¿Está seguro de eliminar el Tipo de Apoyo?</h1>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Eliminar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

  {% endblock contenido %} 
  {% block script %}
  <script>
    function convertToUppercase(input) {
      input.value = input.value.toUpperCase();
    }
  </script>

  <!-- Custom JS -->

  <script src="{% static 'core/js/mantenimiento/nuevotipoapoyo.js' %}"></script>

  {% endblock %}
