{% extends "core/base.html" %}
{% load static %} 
{% block title %} Nuevo Usuario{% endblock title %}
{% block head %} 
{% endblock %} 
{% block contenido %}
<div class="main-content d-flex flex-column mx-3 my-4">
  <div class="tab-content shadow rounded px-4 py-5">
    <div
      class="tab-pane fade show active"
      id="list-home"
      role="tabpanel"
      aria-labelledby="list-home-list"
    >
      <div class="d-flex justify-content-between mb-3">
        <h2 class="fs-2 fw-semibold d-md-block d-none">Lista de Usuarios</h2>
        <h2 class="fs-5 fw-semibold d-md-none d-block">Lista de Usuarios</h2>
        <button
          id="BtnAgregarUsuario"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modalEditarUsuario"
          data-bs-whatever="Editar"
        >
          Agregar Usuarios
        </button>
      </div>

      <!--TABLA-->
      <div class="table-responsive">
        <hr />
        <table
          id="tblUsuarios"
          class="table table-hover display shadow rounded"
          style="width: 100%"
        >
          <thead class="table-dark">
            <tr>
              <th class="d-none">id</th>
              <th class="text-center" >Nombre</th>
              <th class="text-center">Apellido</th>
              <th class="text-center">Area</th>
              <th class="text-center">Usuario</th>
              <th class="text-center">Estado</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody class="text-rigth">
            {% for us in usuario %}

            <tr id="{{us.id}}">
              <th class="d-none">{{us.id}}</th>
              <th>{{us.nombre}}</th>
              <th class="">{{us.apellido}}</th>
              <th class="">{{us.area}}</th>
              <th class ="text-center">{{us.user.username}}</th>
              <th  class ="text-center">
              </button>
              <button
              type="button"
             class="btn toggleBtn {{ us.user.is_active|yesno:"btn-success,btn-danger" }}"
              data-is-active="{{ us.user.is_active }}"
              
               >
              {% if us.user.is_active %}
              <i class="bi bi-check-circle "></i> 
              active
              {% else %}
              <i class="bi bi-x-circle "></i> 
              inactive
              {% endif %}
              
              </button>
              </th>
              <th class="">
                <div class="d-flex gap-2 justify-content-center">
                  <button
                    type="button"
                    class="btn btn-success editBtn"
                    data-bs-toggle="modal"
                    data-bs-target="#modalEditarUsuario"
                    data-bs-whatever="Editar"
                    >
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger trashBtn"
                    data-bs-toggle="modal"
                    data-bs-target="#modalEliminarUsuario"
                    data-bs-whatever="Eliminar"
                    >
                    <i class="bi bi-trash"></i>

                </div>
              </th>
            </tr>
            {% endfor %}
          </tbody>

          <tfoot>
            <th class="d-none">id</th>
            <th class="text-center" >Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">Area</th>
            <th class="text-center">Usuario</th>
            <th class="text-center">Estado</th>
            <th class="text-center"></th>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!--MODAL PARA EDITAR EVENTO-->
<div
  class="modal fade"
  id="modalEditarUsuario"
  tabindex="-1"
  aria-labelledby="modalEditarUsuarioLabel"
  aria-hidden="true"
  >
  <div
    class="modal-dialog m-auto modal-dialog-centered mt-3"
    style="--bs-modal-width: 1382px"
  >
    <div class="modal-content">
      <div class="modal-header">
        <span class="fs-2 fw-semibold d-md-block d-none"
          >Edición del Usuario</span
        >
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="row px-3">
        <form
          action="#"
          id="formAgregarUsuario"
          class="shadow px-3 py-3 rounded"
          method="POST"
        >
          {% csrf_token %}
          <div class="d-flex gap-3 flex-column">
            <input
              type="hidden"
              class="form-control"
              id="txtIdModalEditarUsuario"
              name="txtIdModalEditarUsuario"
              value=""
              readonly
            />
            <div class="col-12">
              <div class="d-flex">
                <span class="text-danger ms-2">* Campos obligatorios</span>
              </div>
            </div>
            <!--cambio-->
            <div class="d-flex gap-3">
              <!--formulario de ingreso datos 1-->
              <div class="row g-3 px-3">
                <!------   ----------------------------- -->

                <!--NOMBRE -->
                <div class="col-md-3">
                  <div class="form-floating mb-3">
                    {{profile_form.nombre}}
                    <label for="txtNombres"
                      >Nombre<span class="text-danger ms-2">*</span></label
                    >
                  </div>
                </div>
                <!------   ----------------------------- -->

                <!--APELLIDOS -->
                <div class="col-md-3">
                  <div class="form-floating mb-3">
                    {{profile_form.apellido}}
                    <label for="txtApellidos"
                      >Apellidos<span class="text-danger ms-2">*</span></label
                    >
                  </div>
                </div>
                <!------   ----------------------------- -->
                <!--AREA -->
                <div class="col-md-3">
                  <div class="form-floating mb-3">
                    {{profile_form.area}}
                    <label for="txtarea"
                      >Area<span class="text-danger ms-2">*</span></label
                    >
                  </div>
                </div>
                <!------   ----------------------------- -->
                <!--Email -->
                <div class="col-md-3">
                  <div class="form-floating mb-3">
                    {{profile_form.correo_institucional}}
                    <label for="txtEmail">Email</label>
                  </div>
                </div>
                <!------   ----------------------------- -->
                <!------   ----------------------------- -->
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    {{ profile_form.username }}
                    <label for="txtUsername"
                      >Usuario<span class="text-danger ms-2">*</span></label
                    >
                  </div>
                </div>
                <!------   ----------------------------- -->
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    {{ profile_form.password }}
                    <label for="txtContraseña"
                      >Constraseña<span class="text-danger ms-2">*</span></label
                    >
                  </div>
                </div>
                <!------   ----------------------------- -->

                <!-- ACTIVO/INACTIVO -->
                <div class="col-md-3">
                  <div class="form-check mb-3">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="isActiveCheckbox"
                      name="is_active"
                      {%
                      if
                      profile_form.instance.user.is_active
                      %}checked{%
                      endif
                      %}
                    />
                    <label class="form-check-label" for="isActiveCheckbox"
                      >Activo</label
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- Botones Guardar y Cancelar -->
            <div class="modal-footer">
              <button
                class="btn btn-danger shadow text-light fs-6 btnForm"
                type="submit"
              >
                <i class="fas fa-save"></i>
                &nbsp;Guardar datos
              </button>
              <button
                class="btn btn-secondary text-white shadow fs-6"
                type="button"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal eliminar INSTITUCION -->
<div
  class="modal fade"
  id="modalEliminarUsuario"
  tabindex="-1"
  aria-labelledby="EliminarUsuarioLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EliminarUsuarioLabel">
          Eliminar Usuario
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="formEliminarUsuario" action="">
        <div class="modal-body">
          <input
            type="hidden"
            class="form-control"
            id="txtIdProyectoModalEliminarUsuario"
            name="txtIdProyectoModalEliminarUsuario"
            value=""
            readonly
          />
          <div class="mensaje-aviso d-flex gap-2">
            <h1
              class="modal-title fs-6 text-center mb-2"
              id="staticBackdropLabel"
            >
              ¿Está seguro de eliminar el Usuario?
            </h1>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Eliminar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock contenido %} 
{% block script %}
<script>
  function convertToUppercase(input) {
    input.value = input.value.toUpperCase();
  }
</script>

<!-- Custom JS -->
<script src="{% static 'core/js/datatable-init/datatableUsuarios.js' %}"></script>
<script src="{% static 'core/js/usuarios/nuevousuario.js' %}"></script>

{% endblock %}
