{% extends "core/base.html" %} {% load static %} 
{% block title %} Reporte Proyecto{% endblock title %} 
{% block head %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>


{% endblock %} 
{% block contenido %}


<div class="btn-group mt-1 position-absolute end-0  z-100 invisible" role="group" id="contenedor__buttons" >
  <button type="button" id="button_Exportar" class="btn btn-danger">Exportar PDF</button>
  <button type="button" id="button_NuevoReporte" class="btn btn-warning">Nuevo Reporte</button>
</div>

<div id="vistaPreviaReporte" class=""></div>

<div class="modal fade" id="ReporteAreaModal" tabindex="-1" aria-labelledby="ReporteAreaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ReporteAreaModalLabel">Reporte Area</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formReportArea"   method="POST" action="{% url 'generar_reporte_area' %}">
          {% csrf_token %}
          <div class="mb-3">
            <div class="form-floating">
              <input type="number" class="form-control" id="Año" name="Año" min="1900" max="2100" step="1"/>
              <label for="Año">Año</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-floating">
              <select class="form-select" id="cboAreaTematica" name="cboAreaTematica" oninput="convertToUppercase(this)">
                <option selected></option>
                {% for At in areas %}
                <option value="{{ At.id }}">{{ At.cArea_tematica }}</option>
                {% endfor %}
              </select>
              <label for="cboAreaTematica">Area Tematica</label>
            </div>
          </div>

          <button type="submit" class="btn btn-primary mt-3 ">Generar Vista Previa</button>
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock contenido %} 
{% block script %}
<script>
  function convertToUppercase(input) {
    input.value = input.value.toUpperCase();
  }
</script>

<!-- Custom JS -->

<script src="{% static 'core/js/reportes/reporteproyectos.js' %}"></script>

{% endblock %}
