{% extends "core/base.html" %} 
{% load static %} 
{% block title %} Participantes{% endblock title %} 
{% block head %} {% endblock %} 
{% block contenido %}
<div class="main-content d-flex flex-column mx-3 my-4">
  <div class="tab-content shadow rounded px-4 py-5">
    <div
      class="tab-pane fade show active"
      id="list-home"
      role="tabpanel"
      aria-labelledby="list-home-list"
    >
      <div class="d-flex justify-content-between mb-3">
        <h2 class="fs-2 fw-semibold d-md-block d-none">
          Lista de Participantes
        </h2>
        <h2 class="fs-5 fw-semibold d-md-none d-block">
          Lista de Participantes
        </h2>
        <button id="GuardarCambios" class="btn btn-primary">Guardar Cambios</button>
      </div>Datos financiamiento del Evento

      <!--TABLA-->
      <div class="table-responsive">
        <hr />
        <table
          id="tblParticipantes"
          class="table table-hover display shadow rounded"
          style="width: 100%"
          >
          <thead class="table-dark">
            <tr>
              <th >Nombre y apellidos</th>
              <th >Institucion</th>
              <th class="text-center">Tipo Participante</th>
              <th class="text-center">Procedencia</th>
              <th class="text-center">Estado</th>
            </tr>
          </thead>
          <tbody class="text-rigth">
            {% for ptc in participantes %}
            <tr id="{{ ptc.id }}">
              <th class="">
                  {{ ptc.apellPate_participante }} {{ ptc.apellMate_participante }} {{ ptc.nom_participante }}
              </th>
              <th >
                  {{ ptc.sede.institucion_financiamiento.cInstFinancia }}
              </th>
              <th class="text-center">
                {{ ptc.tipo_participante }}
            </th>
              <th class="text-center">
                  <div class="d-flex gap-2 justify-content-center">
                      <input type="radio" id="tipoParticipanteInterno{{ ptc.id }}" name="procedencia{{ptc.id}}" value="INTERNO"
                          {% if ptc.procedencia == 'INTERNO' %} checked {% endif %}>
                      <label for="tipoParticipanteInterno{{ ptc.id }}">Interno</label>
                      
                      <input type="radio" id="tipoParticipanteExterno{{ ptc.id }}" name="procedencia{{ptc.id}}" value="EXTERNO"
                          {% if ptc.procedencia == 'EXTERNO' %} checked {% endif %}>
                      <label for="tipoParticipanteExterno{{ ptc.id }}">Externo</label>
                  </div>
              </th >
              <th class="text-center">
                 <div class="d-flex gap-2 justify-content-center">
                    <input type="radio" id="estadoTrue_{{ ptc.id }}" name="Estado_{{ ptc.id }}" value="True"
                        {% if ptc.estado %} checked {% endif %}>
                    <label for="estadoTrue_{{ ptc.id }}">Activo</label>
                    
                    <input type="radio" id="estadoFalse_{{ ptc.id }}" name="Estado_{{ ptc.id }}" value="False"
                        {% if not ptc.estado %} checked {% endif %}>
                    <label for="estadoFalse_{{ ptc.id }}">Inactivo</label>
                </div> 
            </th>

          </tr>
            {% endfor %}
          </tbody>

          <tfoot>
            <th >Nombre y apellidos</th>
             <th >Institucion</th>
             <th class="text-center">Tipo Participante</th>
             <th class="text-center">Procedencia</th>
             <th class="text-center">Estado</th>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!--MODAL PARA EDITAR Eventos-->
<div
  class="modal fade"
  id="modalEditarParticipantes"
  tabindex="-1"
  aria-labelledby="modalEditarParticipanteLabel"
  aria-hidden="true"
  >
  <div
    class="modal-dialog m-auto modal-dialog-centered mt-3"
    style="--bs-modal-width: 1382px"
  >
    <div class="modal-content">
      <div class="modal-header">
        <span class="fs-2 fw-semibold d-md-block d-none"
          >Edición de Participante</span
        >
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form
        action=""
        id="formEditarParticipante"
        class="shadow px-3 rounded"
        method="POST"
      >
        {% csrf_token %}
        <div class="modal-body">
          <div class="d-flex gap-3 flex-column justify-content-center">
            <input
              type="hidden"
              class="form-control"
              id="txtIdParticipanteModalEditarParticipante"
              name="txtIdParticipanteModalEditarParticipante"
              value=""
              readonly
            />
            <!--formulario de ingreso datos-->
            <div class="row g-3 px-3">
              <!-- Aviso de campos obligatorios  -->
              <div class="d-flex">
                <span class="text-danger ms-2">* Campos obligatorios</span>
              </div>
              <span class="fw-bold fs-6">Datos generales del Evento</span>

              <!------   ----------------------------- -->
              <!--CODIGO DE EVENTO-->
              <div class="col-md-3">
                <div class="form-floating">
                  <input type="hidden" id="txtidCodigoevento" />
                  <input
                    type="text"
                    class="form-control"
                    id="txtCodigoEvento"
                    name="txtCodigoEvento"
                    required
                    maxlength="150"
                  />
                  <label for="txtCodigoEvento"
                    >Codigo evento<span class="text-danger ms-2">*</span></label
                  >
                </div>
              </div>
              <!------   ----------------------------- -->
              <!--NOMBRE Evento-->
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="hidden" id="txtidNombreevento" />
                  <input
                    type="text"
                    class="form-control"
                    id="txtNombreEvento"
                    name="txtNombreEvento"
                    required
                    maxlength="150"
                    oninput="convertToUppercase(this)"
                  />
                  <label for="txtNombreEvento"
                    >Nombre<span class="text-danger ms-2">*</span></label
                  >
                </div>
              </div>

              <!------   ----------------------------- -->
              <!--TIPO DE EVENTO-->
              <div class="col-md-3">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="cboTipoEvento"
                    name="cboTipoEvento"
                    required
                  >
                    <option selected></option>
                    {% for te in Tipo_Eventos %}
                    <option value="{{te.id}}">{{te.cTipoEvento}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboTipoEvento"
                    >Tipo de Evento<span class="text-danger ms-2"
                      >*</span
                    ></label
                  >
                </div>
              </div>

              <!------   ----------------------------- -->
              <!--AREA TEMATICA-->
              <div class="col-md-3">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="cboAreaTematica"
                    name="cboAreaTematica"
                    required
                  >
                    <option selected></option>

                    {% for At in AreaTem %}
                    <option value="{{At.id}}">{{At.cArea_tematica}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboAreaTematica"
                    >Area Tematica<span class="text-danger ms-2">*</span></label
                  >
                </div>
              </div>
              <!--DESCRIPCIÓN-->
              <div class="col-md-9">
                <div class="form-floating">
                  <input type="hidden" id="txtidDescripcion" />
                  <input
                    type="text"
                    class="form-control"
                    id="txtDescripcion"
                    name="txtDescripcion"
                    required
                    maxlength="300"
                    oninput="convertToUppercase(this)"
                  />
                  <label for="txtDescripcion"
                    >Descripción<span class="text-danger ms-2">*</span></label
                  >
                </div>
              </div>

              <!--PAIS-->
              <div class="col-md-3">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="cboPais"
                    name="cboPais"
                    required
                  >
                    <option selected></option>
                    {% for p in pais %}
                    <option value="{{p.id}}">{{p.cpais}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboPais"
                    >Pais<span class="text-danger ms-2">*</span></label
                  >
                </div>
              </div>
              <!------   ----------------------------- -->

              <!--FECHA-->
              <div class="col-md-3">
                <div class="form-floating">
                  <input
                    type="date"
                    class="form-control"
                    id="txtFechainicio"
                    name="txtFechainicio"
                    required
                  />
                  <label for="txtFechainicio"
                    >Fecha Inicio<span class="text-danger ms-2">*</span></label
                  >
                </div>
              </div>

              <!------   ----------------------------- -->
              <!--FECHA FIN-->
              <div class="col-md-3">
                <div class="form-floating">
                  <input
                    type="date"
                    class="form-control"
                    id="txtFechafin"
                    name="txtFechafin"
                    required
                  />
                  <label for="txtFechafin"
                    >Fecha Fin<span class="text-danger ms-2">*</span></label
                  >
                </div>
              </div>

              <!------   ----------------------------- -->
            </div>
            <hr />
            <!--formulario de ingreso datos-->
            <div class="row g-3 px-3">
              <span class="fw-bold fs-6">Datos financiamiento del Evento</span>
              <!------   ----------------------------- -->
              <!--TIPO DE APOYO-->
              <div class="col-md-3">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="cboTipoApoyo"
                    name="cboTipoApoyo"
                    required
                  >
                    <option selected></option>

                    {% for ta in TipoApoyo %}
                    <option value="{{ta.id}}">{{ta.ctipo_apoyo}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboTipoApoyo"
                    >Tipo de Apoyo<span class="text-danger ms-2">*</span></label
                  >
                </div>
              </div>
              <!------   ----------------------------- -->
              <!--FINANCIAMIENTO POR-->
              <div class="col-md-3">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="cboTipoEnFinanciamiento"
                    name="cboTipoEnFinanciamiento"
                    required
                  >
                    <option selected></option>

                    {% for Etf in EntFinan %}
                    <option value="{{Etf.id}}">{{Etf.cEntFinancia}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboTipoEnFinanciamiento">
                    Entidad Financiamiento<span class="text-danger ms-2"
                      >*</span
                    ></label
                  >
                </div>
              </div>
              <!------   ----------------------------- -->
              <!--Institucion FINANCIAMIENTO FINANCIAMIENTO -->
              <div class="col-md-3">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="cboTipoInsFinanciamiento"
                    name="cboTipoInsFinanciamiento"
                    required
                  >
                    <option selected></option>
                  </select>
                  <label for="cboTipoInsFinanciamiento">
                    Institucion Financinaniento<span class="text-danger ms-2"
                      >*</span
                    ></label
                  >
                </div>
              </div>
              <!------   ----------------------------- -->
              <!--TIPO DE MONEDA -->
              <div class="col-md-3">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="cboTipoMOneda"
                    name="cboTipoMOneda"
                    required
                  >
                    <option selected></option>
                    {% for tm in TipoMoneda %}
                    <option value="{{tm.id}}">{{tm.cTipo_moneda}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboTipoMOneda">
                    Tipo de Moneda<span class="text-danger ms-2">*</span></label
                  >
                </div>
              </div>
              <!------   ----------------------------- -->
              <!--MONTO-->
              <div class="col-md-2">
                <div class="form-floating">
                  <input type="hidden" id="txtidMonto" />
                  <input
                    type="text"
                    class="form-control"
                    id="txtMonto"
                    name="txtMonto"
                    required
                    pattern="^\d+(\.\d{1,4})?$"
                  />
                  <label for="txtMonto"
                    >Monto (S/)<span class="text-danger ms-2">*</span></label
                  >
                </div>
              </div>

              <!------   ----------------------------- -->
              <!--TIPO DE CAMBIO-->
              <div class="col-md-2">
                <div class="form-floating">
                  <input type="hidden" id="txtidtCambio" />
                  <input
                    type="text"
                    class="form-control"
                    id="txttipoCambio"
                    name="txttipoCambio"
                    required
                    maxlength="15"
                    pattern="^\d+(\.\d{1,4})?$"
                  />
                  <label for="txttipoCambio"
                    >Tipo de Cambio<span class="text-danger ms-2"
                      >*</span
                    ></label
                  >
                </div>
              </div>

              <!------   ----------------------------- -->
              <!--MONTO SOLES-->
              <div class="col-md-3">
                <div class="form-floating">
                  <input type="hidden" id="txtidMontosoles" />
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    id="txtMontosoles"
                    name="txtMontosoles"
                    maxlength="15"
                    pattern="^\d+(\.\d{1,2})?$"
                    title="Ingrese un monto válido con hasta dos decimales"
                  />
                  <label for="txtMontosoles">Equivalente Soles</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Botones Guardar y Cancelar -->
        <div class="modal-footer">
          <button
            class="btn btn-danger shadow text-light fs-6 btnForm"
            type="submit"
          >
            <i class="fas fa-save"></i>
            &nbsp;Guardar datos
          </button>
          <button
            class="btn btn-secondary text-white shadow fs-6"
            type="button"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal eliminar Proyecto-->
<div
  class="modal fade"
  id="modalEliminarProyecto"
  tabindex="-1"
  aria-labelledby="eliminarProyectoLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminarProyectoLabel">
          Eliminar proyecto
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="formEliminarProyecto" action="">
        <div class="modal-body">
          <input
            type="hidden"
            class="form-control"
            id="txtIdProyectoModalEliminarProyecto"
            name="txtIdProyectoModalEliminarProyecto"
            value=""
            readonly
          />
          <div class="mensaje-aviso d-flex gap-2">
            <h1
              class="modal-title fs-6 text-center mb-2"
              id="staticBackdropLabel "
            >
              ¿Está seguro de eliminar al Proyecto?
            </h1>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Eliminar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock contenido %} {% block script %}
<script>
  function convertToUppercase(input) {
    input.value = input.value.toUpperCase();
  }
</script>

<!-- Custom JS -->
<script src="{% static 'core/js/inicializador/inicializador.js' %}"></script>

<script src="{% static 'core/js/datatable-init/datatable-participantes-totales.js' %}"></script>
<script src="{% static 'core/js/participantes/todoslosparticipantes.js' %}"></script>

{% endblock %}
