{% extends "core/base.html" %}
{% load static %}
{% block title %} Proyectos {% endblock title %}
{% block head %}
    <!--CSS DATA TABLE-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.bootstrap5.min.css" />
{% endblock %}

{% block contenido %}
<div class="main-content d-flex flex-column mx-3 my-4 ">
  <div class="tab-content shadow  rounded px-4 py-5">
    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
      <div class="d-flex justify-content-between mb-3">
        <h2 class="fs-2 fw-semibold d-md-block d-none">Lista de Proyectos</h2>
        <h2 class="fs-5 fw-semibold d-md-none d-block">Lista de Proyectos</h2>
        <!--Comentario-->
        <div class="custom-file-input">
          <input type="file" id="fileInput" name="fileInput" />
          <label for="fileInput" class="align-items-center d-flex text-center">
            <i class="fas fa-cloud-upload-alt"></i>&nbsp;&nbsp; Importar CSV
          </label>
          <span id="nombreArchivo"></span>
        </div>
      </div>
      <!--TABLA-->
      <div class="table-responsive">
        <hr />
        <table id="tblProyectos" class="table table-hover display shadow rounded"  style="width:100%;">
          <thead class="table-dark">
            <tr>
              <th class="text-center">Tipo</th>
              <th class="text-center">Codigo </th>
              <th class="text-center">Nombre </th>
              <th class="text-center">Descripción</th>
              <th class="text-center">Pais</th>
              <th class="text-center">Tipo Apoyo</th>
              <th class="text-center">Ent. Finan</th>
              <th class="text-center">Ins. Finan</th>
              <th class="text-center">Tipo Moneda</th>
              <th class="text-center">Monto</th>
              <th class="text-center">Tipo de Cambio</th>
              <th class="text-center">Responsable</th>
              <th class="text-center">Responsable Entidad</th>
              <th class="text-center">Area tematica</th>
              <th class="text-center">Fecha inicio</th>
              <th class="text-center">Fecha Fin</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody class="text-rigth">
            {% for  pr in tproyectos %}

            <tr id="{{pr.id}}">
              <th class="text-center" >{{pr.cTipo_proyecto}}</th>
              <th class="text-center">{{pr.codigoProyecto}} </th>
              <th >{{pr.nomProyecto}} </th>
              <th >{{pr.DescProyecto}}</th>
              <th class="text-center" >{{pr.cpais}}</th>
              <th class="text-center" > {{pr.cTipoApoyo}}</th>
              <th >{{pr.cEntFinan}}</th>
              <th >{{pr.cInstFinanc}}</th>
              <th class="text-center">{{pr.cTipo_Moneda}}</th>
              <th class="text-center">{{pr.monto}}</th>
              <th class="text-center" >{{pr.tipo_Cambio}}</th>
              <th class="text-center" >{{pr.responsable}}</th>
              <th class="text-center" >{{pr.responsableEnt}}</th>
              <th class="text-center" >{{pr.cAreaTem}}</th>
              <th class="text-center" >{{pr.fechaInicio}}</th>
              <th class="text-center">{{pr.fechaFin}}</th>
              <th class="text-center">
                <div class="d-flex gap-2 justify-content-center">
                  <button type="button"
                          class="btn btn-dark editBtn"
                          data-bs-toggle="modal"
                          data-bs-target="#modalEditarProyecto"
                          data-bs-whatever="Editar">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button type="button"
                          class="btn btn-dark trashBtn"
                          data-bs-toggle="modal"
                          data-bs-target="#modalEliminarProyecto"
                          data-bs-whatever="Eliminar">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </th>
            </tr>
            {% endfor %}
      
          </tbody>
          
          <tfoot >
            <tr>
              <th class="text-center" >Tipo</th>
              <th class="text-center">Codigo </th>
              <th class="text-center">Nombre </th>
              <th class="text-center">Descripción</th>
              <th class="text-center">Pais</th>
              <th class="text-center">Tipo Apoyo</th>
              <th class="text-center">Ent. Finan</th>
              <th class="text-center">Ins. Finan</th>
              <th class="text-center">Tipo Moneda</th>
              <th class="text-center">Monto</th>
              <th class="text-center">Tipo de Cambio</th>
              <th class="text-center">Responsable</th>
              <th class="text-center">Responsable Entidad</th>
              <th class="text-center">Area tematica</th>
              <th class="text-center">Fecha inicio</th>
              <th class="text-center">Fecha Fin</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}

{% block script %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/notificacion-Swal.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'core/js/proyectos/todoslosProyectos.js' %}"></script>
<script>
  
</script>
{% endblock %}
