{% extends "core/base.html" %} {% load static %} {% block title %} Proyectos
{%endblock title %} {% block head %} {% endblock %} {% block contenido %}
<div class="main-content d-flex flex-column">
  <div class="tab-content shadow bg-white rounded px-4 py-5">
    <div
      class="tab-pane fade show active"
      id="list-home"
      role="tabpanel"
      aria-labelledby="list-home-list"
    >
      <div class="d-flex justify-content-between mb-3">
        <h2 class="fs-2 fw-semibold d-md-block d-none">Lista de Proyectos</h2>
        <h2 class="fs-5 fw-semibold d-md-none d-block">Lista de Proyectos</h2>
        <!--Comentario-->
        <div class="custom-file-input">
          <input type="file" id="fileInput" name="fileInput" />
          <label for="fileInput" class="align-items-center d-flex text-center">
            <i class="fas fa-cloud-upload-alt"></i>&nbsp;&nbsp; Importar
            CSV</label
          >
          <span id="nombreArchivo"></span>
        </div>
      </div>
      <!--TABLA-->
      <div class="table-responsive">
        <hr />
        <table
          id="tblProyectos"
          class="table table-hover display shadow rounded"
        >
          <thead class="table-dark">
            <tr>
              <th class="text-center">Tipo proyecto</th>
              <th class="text-center">Codigo proyecto</th>
              <th class="text-center">Nombre proyecto</th>
              <th class="text-center">desc. proyecto</th>
              <th class="text-center">Pais</th>
              <th class="text-center">Tipo Apoyo</th>
              <th class="text-center">Ent. Finan</th>
              <th class="text-center">INs. Finan</th>
              <th class="text-center">Tipo Moneda</th>
              <th class="text-center">Monto</th>
              <th class="text-center">Tipo de Cambio</th>
              <th class="text-center">Responsable</th>
              <th class="text-center">Responsable Ent</th>
              <th class="text-center">Area tematica</th>
              <th class="text-center">Fecha inicio</th>
              <th class="text-center">Fecha Fin</th>
              <th class="text-center"></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/notificacion-Swal.js' %}"></script>

{% endblock %}
