{% extends "core/base.html" %}
{% load static %}
{% block title %} Proyectos {% endblock title %}
{% block head %}

{% endblock %}

{% block contenido %}
<div class="main-content d-flex flex-column mx-3 my-4 ">
  <div class="tab-content shadow  rounded px-4 py-5">
    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
      <div class="d-flex justify-content-between mb-3">
        <h2 class="fs-2 fw-semibold d-md-block d-none">Lista de Proyectos</h2>
        <h2 class="fs-5 fw-semibold d-md-none d-block">Lista de Proyectos</h2>
        <!--Comentario-->
      </div>
      <!--TABLA-->
      <div class="table-responsive">
        <hr />
        <table id="tblProyectos" class="table table-hover display shadow rounded" style="width:100%;">
          <thead class="table-dark">
            <tr>
              <th class="d-none">ID (Oculto)</th>
              <th class="text-center">Codigo </th>
              <th class="text-center">Nombre Proyecto </th>
              <th class="text-center">Responsable Entidad</th>
              <th class="text-center">Area tematica</th>
              <th class="text-center">Fecha inicio</th>
              <th class="text-center">Fecha Fin</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody class="text-rigth">
            {% for pr in tproyectos %}

            <tr id="{{pr.id}}">
              <th class="d-none">{{pr.id}}</th> 
              <th class="text-center">{{pr.codigoProyecto}} </th>
              <th>{{pr.nomProyecto}} </th>
              <th class="text-center">{{pr.responsableEnt}}</th>
              <th class="text-center">{{pr.cAreaTem}}</th>
              <th class="text-center">{{pr.fechaInicio}}</th>
              <th class="text-center">{{pr.fechaFin}}</th>
              <th class="text-center">
                <div class="d-flex gap-2 justify-content-center">
                  <button type="button" class="btn btn-success editBtn" data-bs-toggle="modal"
                    data-bs-target="#modalEditarProyecto" data-bs-whatever="Editar">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-danger trashBtn" data-bs-toggle="modal"
                    data-bs-target="#modalEliminarProyecto" data-bs-whatever="Eliminar">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </th>
            </tr>
            {% endfor %}

          </tbody>

          <tfoot>
              <th class="d-none">ID (Oculto)</th>
              <th class="text-center">Codigo </th>
              <th class="text-center">Nombre Proyecto </th>
              <th class="text-center">Responsable Entidad</th>
              <th class="text-center">Area tematica</th>
              <th class="text-center">Fecha inicio</th>
              <th class="text-center">Fecha Fin</th>
              <th class="text-center"></th>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>


<!--MODAL PARA EDITAR PROYECTOS-->
<div class="modal fade" id="modalEditarProyecto" tabindex="-1" aria-labelledby="modalEditarProyectoLabel"
  aria-hidden="true">
  <div class="modal-dialog m-auto modal-dialog-centered mt-3" style="--bs-modal-width: 1382px">
    <div class="modal-content">
      <div class="modal-header">
        <span class="fs-2 fw-semibold d-md-block d-none">Edición de proyecto</span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" id="formEditarProyecto" class="shadow px-3 rounded" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="d-flex gap-3 flex-column justify-content-center">
            <input type="hidden" class="form-control" id="txtIdProyectoModalEditarProyecto"
              name="txtIdProyectoModalEditarProyecto" value="" readonly>
            <div class="row g-3 px-3">
              <!-- Aviso de campos obligatorios  -->
              <div class="d-flex">
                <span class="text-danger ms-2">* Campos obligatorios</span>
              </div>
              <!--TIPO DE PROYECTO-->
              <div class="col-md-3">
                <div class="form-floating">
                  <select class="form-select" id="cboTipoProyecto" name="cboTipoProyecto" required>
                    <option selected></option>
                    {% for tp in tipoProyec %}
                    <option value="{{tp.id}}">{{tp.cTipoProyecto}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboTipoProyecto">Tipo de Proyecto<span class="text-danger ms-2">*</span></label>
                </div>
              </div>
              <!------   ----------------------------- -->
              <!--CODIGO PROYECTO-->
              <div class="col-md-3">
                <div class="form-floating">
                  <input type="hidden" id="txtidCodProyecto" />
                  <input type="text" class="form-control" id="txtCodigoProyecto" name="txtCodigoProyecto" required
                    maxlength="20" />
                  <label for="txtNombreProyecto">Codigo del proyecto<span class="text-danger ms-2">*</span></label>
                </div>
              </div>
              <!------   ----------------------------- -->
              <!--NOMBRE PROYECTO-->
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="hidden" id="txtidNombre" />
                  <input type="text" class="form-control" id="txtNombreProyecto" name="txtNombreProyecto" required
                    maxlength="100" oninput="convertToUppercase(this)" />
                  <label for="txtNombreProyecto">Nombre<span class="text-danger ms-2">*</span></label>
                </div>
              </div>
              <!--DESCRIPCIÓN-->
              <div class="col-md-9">
                <div class="form-floating">
                  <input type="hidden" id="txtidDescripcion" />
                  <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion" 
                    maxlength="300" oninput="convertToUppercase(this)" />
                  <label for="txtDescripcion">Descripción</label>
                </div>
              </div>
              <!--PAIS-->
              <div class="col-md-3">
                <div class="form-floating">
                  <select class="form-select" id="cboPais" name="cboPais" required>
                    <option selected></option>
                    {% for p in pais %}
                    <option value="{{p.id}}">{{p.cpais}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboPais">Pais<span class="text-danger ms-2">*</span></label>
                </div>
              </div>
              <!------   ----------------------------- -->
              <!--TIPO DE APOYO-->
              <div class="col-md-3">
                <div class="form-floating">
                  <select class="form-select" id="cboTipoApoyo" name="cboTipoApoyo" >
                    <option selected></option>

                    {% for Ta in TipoApoyo %}
                    <option value="{{Ta.id}}">{{Ta.ctipo_apoyo}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboTipoApoyo">Tipo de Apoyo</label>
                </div>
              </div>
              <!------   ----------------------------- -->
              <!--FINANCIAMIENTO POR-->
              <div class="col-md-3">
                <div class="form-floating">
                  <select class="form-select" id="cboTipoEnFinanciamiento" name="cboTipoEnFinanciamiento" >
                    <option selected></option>
                    {% for Ef in EntFinan %}
                    <option value="{{Ef.id}}">{{Ef.cEntFinancia}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboTipoEnFinanciamiento">
                    Entidad Financiamiento
                  </label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-floating">
                  <select class="form-select" id="cboTipoInsFinanciamiento" name="cboTipoInsFinanciamiento" >
                    <option selected></option>
                  </select>
                  <label for="cboTipoInsFinanciamiento">
                    Institución Financiamiento
                  </label>
                </div>
              </div>

              <!------   ----------------------------- -->
              <!--TIPO DE MONEDA -->
              <div class="col-md-3">
                <div class="form-floating">
                  <select class="form-select" id="cboTipoMOneda" name="cboTipoMOneda" >
                    <option selected></option>

                    {% for Tm in TipoMoneda %}
                    <option value="{{Tm.id}}">{{Tm.cTipo_moneda}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboTipoMOneda">
                    Tipo de Moneda</label>
                </div>
              </div>
              <!------   ----------------------------- -->
              <!--MONTO-->
              <div class="col-md-2">
                <div class="form-floating">
                  <input type="text" class="form-control" id="txtMonto" name="txtMonto" 
                    pattern="^\d+(\.\d{1,4})?$" />
                  <label for="txtMonto">monto</label>
                </div>
              </div>

              <!------   ----------------------------- -->
              <!--TIPO DE CAMBIO-->
              <div class="col-md-2">
                <div class="form-floating">
                  <input type="hidden" id="txtidtCambio" />
                  <input type="text" class="form-control" id="txttipoCambio" name="txttipoCambio" 
                    maxlength="15" pattern="^\d+(\.\d{1,4})?$" />
                  <label for="txttipoCambio">Tipo de Cambio</label>
                </div>
              </div>

              <!------   ----------------------------- -->
              <!--MONTO SOLES-->
              <div class="col-md-2">
                <div class="form-floating">
                  <input type="hidden" id="txtidMontosoles" />
                  <input type="text" class="form-control" id="txtMontosoles" disabled name="txtMontosoles"
                    maxlength="15" pattern="^\d+(\.\d{1,2})?$"
                    title="Ingrese un monto válido con hasta dos decimales" />
                  <label for="txtMontosoles">Equivalente Soles (S/)</label>
                </div>
              </div>
              <!------   ----------------------------- -->
              <!--REPONSABLE IPEN-->
              <div class="col-md-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="txtRespIpen" name="txtRespIpen" maxlength="100" required
                    oninput="convertToUppercase(this)" />
                  <label for="txtRespIpen">Responsable IPEN<span class="text-danger ms-2">*</span></label>
                </div>
              </div>

              <!------   ----------------------------- -->
              <!--REPONSABLE ENTIDAD-->
              <div class="col-md-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="txtRespEnt" name="txtRespEnt" maxlength="100"
                    oninput="convertToUppercase(this)" />
                  <label for="txtRespEnt">Responsable Entidad</label>
                </div>
              </div>

              <!------   ----------------------------- -->
              <!--AREA TEMATICA-->
              <div class="col-md-3">
                <div class="form-floating">
                  <select class="form-select" id="cboAreaTematica" name="cboAreaTematica"
                    oninput="convertToUppercase(this)" required>
                    <option selected></option>

                    {% for At in AreaTem %}
                    <option value="{{At.id}}">{{At.cArea_tematica}}</option>
                    {% endfor %}
                  </select>
                  <label for="cboAreaTematica">Area Tematica<span class="text-danger ms-2">*</span></label>
                </div>
              </div>
              <!------   ----------------------------- -->

              <!--FECHA-->
              <div class="col-md-3">
                <div class="form-floating">
                  <input type="date" class="form-control" id="txtFechaInicio" name="txtFechaInicio"  />
                  <label for="txtFechaInicio">Fecha Inicio</label>
                </div>
              </div>

              <!------   ----------------------------- -->
              <!--FECHA-->
              <div class="col-md-3">
                <div class="form-floating">
                  <input type="date" class="form-control" id="txtFechaFin" name="txtFechaFin"  />
                  <label for="txtFechaFin">Fecha Fin</label>
                </div>
              </div>

              <!------   ----------------------------- -->
            </div>
          </div>
        </div>
        <!-- Botones Guardar y Cancelar -->
        <div class="modal-footer">
          <button class="btn btn-danger shadow text-light fs-6 btnForm" type="submit">
            <i class="fas fa-save"></i>
            &nbsp;Guardar datos
          </button>
          <button class="btn btn-secondary text-white shadow fs-6" type="button"
            data-bs-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal eliminar Proyecto-->
<div class="modal fade"
     id="modalEliminarProyecto"
     tabindex="-1"
     aria-labelledby="eliminarProyectoLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminarProyectoLabel">Eliminar proyecto</h1>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <form id="formEliminarProyecto" action="">
        <div class="modal-body">
          <input type="hidden"
                 class="form-control"
                 id="txtIdProyectoModalEliminarProyecto"
                 name="txtIdProyectoModalEliminarProyecto"
                 value=""
                 readonly>
          <div class="mensaje-aviso d-flex gap-2">
            <h1 class="modal-title fs-6 text-center mb-2" id="staticBackdropLabel ">¿Está seguro de eliminar al Proyecto?</h1>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>  Eliminar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock contenido %}

{% block script %}
<script>

  function convertToUppercase(input) {
    input.value = input.value.toUpperCase();
  }
  
</script>

<script src="{% static 'core/js/datatable-init/datatable-proyectos-totales.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'core/js/inicializador/inicializador.js' %}"></script>
<script src="{% static 'core/js/proyectos/todoslosProyectos.js' %}"></script>
{% endblock %}