@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto";
  border: none;
  outline: none;
}
.navbar-toggler-icon {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.img-login {
  width: 50px;
  height: 50px;
}
.img-canvas-logo {
  width: 160px;
  height: 50px;
  margin-left: 20px;
}

.nav-link__title {
  margin: 0 10px;
  font-size: 1.2rem;
}

main {
  min-height: calc(100vh - 76px); 
  height: auto;
}
.table-responsive {
  overflow-x: hidden;
}

.dataTables_scroll {
  grid-column: 1 / 3;
  grid-row: 3;
}

#tblProyectos_wrapper,
#tblEventos_wrapper,
#tblParticipantes_wrapper,
#tblTipoEventos_wrapper,
#tblUsuarios_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

#tblProyectos_filter,
#tblEventos_filter,
#tblParticipantes_filter,
#tblTipoEventos_filter,
#tblUsuarios_filter{
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: end;
}

#tblProyectos_length,
#tblEventos_length,
#tblParticipantes_length,
#tblTipoEventos_length,
#tblUsuarios_length  {
  grid-column: 1;
  grid-row: 2;
}

#tblProyectos_info,
#tblEventos_info,
#tblParticipantes_info,
#tblTipoEventos_info,
#tblUsuarios_info  {
  grid-column: 1 / 3;
  grid-row: 4;
}

#tblProyectos_paginate,
#tblEventos_paginate,
#tblParticipantes_paginate,
#tblTipoEventos_paginate,
#tblUsuarios_paginate {
  grid-column: 1 / 3;
  grid-row: 5;
}