{% extends "core/base.html" %} 
{% load static %} 
{% block title %}Nuevo Evento{% endblock title %} 
{% block contenido %}
<div class="main-content d-flex flex-column py-0 mb-md-5">
  <div
    class="formulario d-flex flex-column gap-4 mt-4 align-self-center mx-3 mb-md-0 mb-5"
  >
    {% if mensaje_error %}
    <p style="color: red">{{ mensaje_error }}</p>
    {% endif %}
    <div>
      <form
        action="#"
        id="formAgregarEvento"
        class="shadow px-3 py-3 rounded"
        method="POST"
      >
        {% csrf_token %}
        <div class="d-flex gap-3 flex-column">
          <div class="col-12">
            <span class="fs-2 fw-semibold d-md-block d-none"
              >Registro del Evento</span
            >
            <span class="fs-5 fw-semibold d-md-none d-block text-center"
              >Registro del Evento</span
            >
            <hr />
            <div class="row px-3">
              <div
                id="alerta"
                class="alert alert-danger mb-0"
                style="display: none"
                role="alert"
              >
                Solo se permiten 30 caracteres como máximo en el campo de
                Teléfono.
              </div>
            </div>
          </div>
          <!--formulario de ingreso datos-->
          <div class="row g-3 px-3">
            <!-- Aviso de campos obligatorios  -->
            <div class="d-flex">
              <span class="text-danger ms-2">* Campos obligatorios</span>
            </div>
            <span class="fw-bold fs-6">Datos generales del Evento</span>

            <!------   ----------------------------- -->
            <!--CODIGO DE EVENTO-->
            <div class="col-md-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="txtCodigoEvento"
                  name="txtCodigoEvento"
                  required
                  maxlength="100"
                />
                <label for="txtCodigoEvento"
                  >Codigo evento<span class="text-danger ms-2">*</span></label
                >
              </div>
            </div>
            <!------   ----------------------------- -->
            <!--NOMBRE Evento-->
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="txtNombreEvento"
                  name="txtNombreEvento"
                  required
                  maxlength="100"
                  oninput="convertToUppercase(this)"
                />
                <label for="txtNombreEvento"
                  >Nombre<span class="text-danger ms-2">*</span></label
                >
              </div>
            </div>

            <!------   ----------------------------- -->
            <!--TIPO DE EVENTO-->
            <div class="col-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="cboTipoEvento"
                  name="cboTipoEvento"
                  required
                >
                  <option selected></option>
                  {% for te in Tipo_Eventos %}
                  <option value="{{te.id}}">{{te.cTipoEvento}}</option>
                  {% endfor %}
                </select>
                <label for="cboTipoEvento"
                  >Tipo de Evento<span class="text-danger ms-2">*</span></label
                >
              </div>
            </div>

            <!------   ----------------------------- -->
            <!--AREA TEMATICA-->
            <div class="col-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="cboAreaTematica"
                  name="cboAreaTematica"
                  required
                >
                  <option selected></option>

                  {% for At in AreaTem %}
                  <option value="{{At.id}}">{{At.cArea_tematica}}</option>
                  {% endfor %}
                </select>
                <label for="cboAreaTematica"
                  >Area Tematica<span class="text-danger ms-2">*</span></label
                >
              </div>
            </div>
            <!--DESCRIPCIÓN-->
            <div class="col-md-9">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="txtDescripcion"
                  name="txtDescripcion"
                  maxlength="300"
                  oninput="convertToUppercase(this)"
                />
                <label for="txtDescripcion">Descripción</label>
              </div>
            </div>

            <!--PAIS-->
            <div class="col-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="cboPais"
                  name="cboPais"
                  required
                >
                  <option selected></option>
                  {% for p in pais %}
                  <option value="{{p.id}}">{{p.cpais}}</option>
                  {% endfor %}
                </select>
                <label for="cboPais"
                  >Pais<span class="text-danger ms-2">*</span></label
                >
              </div>
            </div>
            <!------   ----------------------------- -->

            <!--FECHA-->
            <div class="col-md-3">
              <div class="form-floating">
                <input
                  type="date"
                  class="form-control"
                  id="txtFechainicio"
                  name="txtFechainicio"
                  required
                />
                <label for="txtFechainicio"
                  >Fecha Inicio<span class="text-danger ms-2">*</span></label
                >
              </div>
            </div>

            <!------   ----------------------------- -->
            <!--FECHA FIN-->
            <div class="col-md-3">
              <div class="form-floating">
                <input
                  type="date"
                  class="form-control"
                  id="txtFechafin"
                  name="txtFechafin"
                />
                <label for="txtFechafin">Fecha Fin</label>
              </div>
            </div>

            <!------   ----------------------------- -->

            <!--REPONSABLE IPEN-->
            <div class="col-md-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="txtRespIpen"
                  name="txtRespIpen"
                  maxlength="100"
                  required
                  oninput="convertToUppercase(this)"
                />
                <label for="txtRespIpen"
                  >Responsable IPEN<span class="text-danger ms-2"
                    >*</span
                  ></label
                >
              </div>
            </div>
          </div>
          <hr />
          <!--formulario de ingreso datos-->
          <div class="row g-3 px-3">
            <span class="fw-bold fs-6">Datos financiamiento del Evento</span>
            <!------   ----------------------------- -->
            <!--TIPO DE APOYO-->
            <div class="col-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="cboTipoApoyo"
                  name="cboTipoApoyo"
                >
                  <option selected></option>

                  {% for ta in TipoApoyo %}
                  <option value="{{ta.id}}">{{ta.ctipo_apoyo}}</option>
                  {% endfor %}
                </select>
                <label for="cboTipoApoyo">Tipo de Apoyo</label>
              </div>
            </div>
            <!------   ----------------------------- -->
            <!--FINANCIAMIENTO POR-->
            <div class="col-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="cboTipoEnFinanciamiento"
                  name="cboTipoEnFinanciamiento"
                >
                  <option selected></option>

                  {% for Etf in EntFinan %}
                  <option value="{{Etf.id}}">{{Etf.cEntFinancia}}</option>
                  {% endfor %}
                </select>
                <label for="cboTipoEnFinanciamiento">
                  Entidad Financiamiento</label
                >
              </div>
            </div>
            <!------   ----------------------------- -->
            <!--Institucion FINANCIAMIENTO FINANCIAMIENTO -->
            <div class="col-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="cboTipoInsFinanciamiento"
                  name="cboTipoInsFinanciamiento"
                >
                  <option selected></option>
                </select>
                <label for="cboTipoInsFinanciamiento">
                  Institucion Financinaniento</label
                >
              </div>
            </div>
            <!------   ----------------------------- -->
            <div class="col-md-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="txtRespEnt"
                  name="txtRespEnt"
                  maxlength="100"
                  oninput="convertToUppercase(this)"
                />
                <label for="txtRespEnt">Responsable Entidad</label>
              </div>
            </div>

            <!--TIPO DE MONEDA -->
            <div class="col-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="cboTipoMOneda"
                  name="cboTipoMOneda"
                >
                  <option selected></option>
                  {% for tm in TipoMoneda %}
                  <option value="{{tm.id}}">{{tm.cTipo_moneda}}</option>
                  {% endfor %}
                </select>
                <label for="cboTipoMOneda"> Tipo de Moneda</label>
              </div>
            </div>
            <!------   ----------------------------- -->
            <!--MONTO-->
            <div class="col-md-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="txtMonto"
                  name="txtMonto"
                  maxlength="15"
                  pattern="^\d+(\.\d{1,2})?$"
                  title="Ingrese un monto válido con hasta dos decimales"
                />
                <label for="txtMonto">Monto</label>
              </div>
            </div>

            <!------   ----------------------------- -->
            <!--TIPO DE CAMBIO-->
            <div class="col-md-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="txttipoCambio"
                  name="txttipoCambio"
                  maxlength="15"
                  pattern="^\d+(\.\d{1,2})?$"
                  title="Ingrese un monto válido con hasta dos decimales"
                />
                <label for="txttipoCambio">Tipo de Cambio</label>
              </div>
            </div>

            <!------   ----------------------------- -->
            <!--MONTO SOLES-->
            <div class="col-md-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  disabled
                  id="txtMontosoles"
                  name="txtMontosoles"
                  maxlength="15"
                  pattern="^\d+(\.\d{1,2})?$"
                  title="Ingrese un monto válido con hasta dos decimales"
                />
                <label for="txtMontosoles">Equivalente Soles</label>
              </div>
            </div>
          </div>

          <!-- Botones -->
          <div class="row g-3 px-3">
            <hr />
            <div class="col-12 d-flex justify-content-end mt-1">
              <button
                class="btn btn-lg text-white fs-6 bg-danger"
                type="submit"
              >
                <i class="fas fa-save"></i> &nbsp;Guardar datos
              </button>
            </div>
          </div>
          <!------   ----------------------------- -->
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock contenido %} {% block script %}
<script>
  function convertToUppercase(input) {
    input.value = input.value.toUpperCase();
  }
</script>

<script src="{% static 'core/js/inicializador/inicializador.js' %}"></script>
<script src="{% static 'core/js/eventos/nuevoevento.js' %}"></script>
{% endblock %}
