{% extends "core/base.html" %}
{% load static %}
{% block title %}
  Inicio
{% endblock title %}
{% block head %} 

{% endblock %}

{% block contenido %}
<!-- Modal -->
<div class="modal fade" id="cambiarContraseñaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cambiarContraseñaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="cambiarContraseñaModalLabel">Cambiar Contraseña</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="cambiarContraseñaForm" method="POST">
                  {% csrf_token %}
                  <input
                  type="hidden"
                  class="form-control"
                  id="estadocontraseña"
                  name="estadocontraseña"
                  value="{{ usuario.debe_cambiar_contraseña }}"
                  readonly
                />
                  <div class="mb-3">
                      <label for="new_password" class="form-label">Nueva Contraseña:</label>
                      <input type="password" class="form-control" id="new_password" name="new_password" required  autocomplete="new-password">
                  </div>
                  <div class="mb-3">
                      <label for="confirm_password" class="form-label">Confirmar Nueva Contraseña:</label>
                      <input type="password" class="form-control" id="confirm_password" name="confirm_password" required  autocomplete="confirm_password">
                  </div>
                  <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
              </form>
          </div>
      </div>
  </div>
</div>


<section class="content h-100 d-flex align-items-center mt-md-0 mt-3">
  <div
    class="formulario d-md-flex gap-md-4 align-self-center py-0 col-7 m-auto bg-white rounded-4"
  >
    <div
      class="col-md-5 col-12 py-md-5 d-flex flex-column align-items-center"
    >
    <h1 class="fw-bold fs-2 pt-4 pb-4 ms-md-4 text-center">
      ¡BIENVENIDO
      <br>
      {% if user.is_authenticated %} {{ user.userprofile.nombre }} {{user.userprofile.apellido }} {% else %} Invitado {% endif %}
    </h1>
      <p class="ms-md-4 p-2 p-md-4 text-justify">
        ¡Bienvenido a nuestro sistema de gestión de proyectos!
        Simplificamos la planificación y colaboración para garantizar el
        éxito. Descubre la excelencia en la gestión de proyectos con
        nosotros.
      </p>
    </div>

    <div
      class="col-6 d-flex justify-content-center align-items-center p-3 m-5 d-md-block d-none"
    >
      <div
        class="col-10 m-auto d-md-block d-none"
        style="
          background-image: url('{% static 'core/images/login.png' %}');
          background-size: cover;
          background-repeat: no-repeat;
          height: 400px;
          border-radius: 60px;
        "
      ></div>
    </div>
  </div>
</section>


{% endblock contenido %}
{% block script %}
<!-- Custom JS -->
<script src="{% static 'core/js/validarestadocontraseña/validarestadopassword.js' %}"></script>

{% endblock %}